/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#chat-container {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#chat-box {
    max-height: 300px;
    overflow-y: auto;
    padding: 15px;
}

#input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #1ab133;
    color: #fff;
    border-radius: 12px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #28c9bf;
}

.user-message {
    background-color: #f3f3f3;
    color: #333;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    margin-left: auto; /* Push user message to the right */
    display: inline-block;
    max-width: 70%; /* Limit width to allow text wrapping */
    position: relative;
}

.user-message::before {
    content: "\1F468"; /* Man emoji */
    position: absolute;
    bottom: -15px;
    right: -20px;
    font-size: 20px;
    background-color: #1087FF;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-message {
    background-color: #1087FF;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    margin-right: auto; /* Push bot message to the right */
    display: inline-block;
    max-width: 70%; /* Limit width to allow text wrapping */
    position: relative;
}

.bot-message::before {
    content: "\1F916"; /* Robot emoji */
    position: absolute;
    bottom: -15px;
    left: -20px;
    font-size: 20px;
    background-color: #1087FF;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
